<!DOCTYPE HTML>
<html ng-app="itunes">
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">
        <link rel="stylesheet" type="text/css" href="style.css">
      </head>
      <body ng-controller="mainCtrl">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div id="myContainer">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music"></span> DevTunes</a>
                    </div>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="artist" placeholder="Artist Name" >
                            <button class="btn btn-primary" ng-click="getSongData()"> Submit </button>
                        </div>
                    </form>
                    <button ng-click="test(songData)">Test</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"> Your Search Results:</div>
            <div id="grid1" class="gridStyle" ui-grid="gridOptions" swap-image="defaultInfo.search"></div>
        </div>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
        <script src="js/app.js"></script>
        <script src="js/mainCtrl.js"></script>
        <script src="js/itunesService.js"></script>
    </body>
</html>