html, body {
  height: 100%;
  width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    max-height: 80%;
    /*min-height: 80%;*/
}

.ngTopPanel {
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}

.panel-heading {
  margin-top: 50px;
}